<section class="subscribeContainer">

	<div>
		<h2>Inscrivez-vous</h2>
	</div>

	<div>
		<form action="./subscribe" method="post">
			<input id="name" type="text" name="name" placeholder="Nom">
			<input id="firstName" type="text" name="firstName" placeholder="Prénom">
			<input id="userName" type="text" name="userName" placeholder="Nom d'utilisateur">
			<input id="mail" type="text" name="mail" placeholder="Entrez votre Email">
            <input id="password" type="text" name="password" placeholder="Saisissez un mot de passe">
			<input or.id="confirmPassword" type="text" name="confirmPassword" placeholder="Confirmer le mot de passe">
			<button type="submit">Enregistrer</button>
		</form>


	</div>
</section>
