<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mr_green_thumb</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		{% include "./globalPartials/_header.html.twig" %}
		<p>{{ currentPath }}</p>
		<main>
			{% block main %}{% endblock %}
		</main>
		{% include "./globalPartials/_footer.html.twig" %}

	</body>
</html>
