.living {
    background-image: url("/images/saloon-managed.png");
}

.room {
    background-image: url("/images/room_two 1.png")
}

.kitchen {
    background-image: url("/images/kitchen_three 1.png");
}

.bathroom {
    background-image: url("/images/bathroom.png");
}

.parking {
    background-image: url("/images/garage_three 1.png");
}

.outSide {
    background-image: url("/images/saloon-managed.png");
}

.collectionContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.underCollectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000ac;
    width: 60%;
    max-height: 80%;
    padding: 20px;
    border-radius: 3px;
    gap: 20px;
    color: white;
    position: relative;
}

article {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;

}
.data {
    font-weight: 200;
}
#DataBlock{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #004a3f91;
    width: calc(100% + 40px);
    display: flex;
    height: 90px;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-weight: 600;
}
#wateringData {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #004a3f91;
    width: calc(100% + 40px);
    height: 40px;
    align-items: center;
    font-weight: 600;
}

#imgPlant {
    text-align: center;
    margin-top: 10px;
}

#plant {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.aside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 12%;
    background-color: #000000ac;
    gap: 20px;
}

#sideBarTitle {
    color: #0EEBCA;
    font-size: 2em;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 10px 0;
}

#welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004a3fb7;
    color: #0EEBCA;
    font-size: 1em;
    letter-spacing: 0.1em;
    height: 30px;
    width: 100%;
    margin: 10px 0;

}

.aside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 12%;
    background-color: #000000ac;
    gap: 20px;
}

#sideBarTitle {
    padding-top: 30px;
    color: #0EEBCA;
    font-size: 2em;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 10px 0;
}

#allSideButton {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sideButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#blockContainer{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
}
.aside a {
    text-decoration: none;
    text-align: center;
    width: 70%;
    height: fit-content;
    padding: 2px;
    background-color: #000000b4;
    box-shadow: -3px -3px 8px #0EEBCA;
    color: #0EEBCA;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#homeButton {
    align-self: center;
}

.aside a:hover {
    color: #666;
}
#pWB{
    color: #0EEBCA;
    display: flex;
    align-items: center;
    align-self: center;
    font-size: 1em;
}

/* CSS POPUP FORMULAIRE D'AJOUT D'ARROSAGE */


#watering-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.89);
    z-index: 1;
    display: none;
}

.open {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

#watering-popup-exit {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    color: #0EEBCA;
}

/* CSS FORMULAIRE D'AJOUT D'ARROSAGE */

.addWateringContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.662);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    text-align: center;
}

.addWateringContainer h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #0EEBCA;
    font-weight: 300;
    letter-spacing: 0.1em;
}

#addWateringForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#addWateringForm button {
    width: 70%;
    height: 50px;
    padding: 10px;
    background-color: #004a3fb7;
    box-shadow: -3px -3px 8px #0EEBCA;
    color: #fff;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#watering-popup-exit {
    width: auto;
    color: #0EEBCA;
    font-size: 1.5em;
    text-decoration: none;
    margin-top: 15px;
    align-self: flex-end;
    cursor: pointer;
    box-shadow: none;
}


#counter {
    position: absolute;
    top: 20px;
    right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:#d03d3d;
    font-size: 0.8em;
    font-weight: 800;
}

.notif {
    position: absolute;
    width: 40px;
    top: 20px;
    right: 20px;
}
/* CSS DropDown */
.nextWaterings{
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: #ffffffeb;
    border: 1px #ffffffeb solid;
    border-radius: 3px;
    color: #004a3f;
    position:absolute;
    right: 40px;
    top: 50px;
    transform: translateY(10px);
    opacity: 0;
    display: none;
    transition: 1s 0.3s;
    z-index: 1;
}
.nextWaterings p {
    margin-right: 0.4em;
    padding: 0.3em;
    border-radius: 0.5em;
    cursor: pointer;
}
#waterNotif:hover{
    background-color: unset;
    color: #004a3f;
}
.nextWaterings p:hover{
    background-color:#666;
    color: #0EEBCA;
}
.nextWaterings-open{
    display:block;
    opacity: 1;
}
#popup-exit {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    color: #004a3f;
}