body {
    background-image: url("/images/buttercups-managed.png");
}

.secondGardenContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media screen and (max-width:1100px) {
    .gardenContainer {
        justify-content: center;
    }
    .secondGardenContainer{
        justify-content: center;
    }
}

.underGardenContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    max-height: 80%;
    padding: 20px;
    gap: 20px;
    /* min-height: 850px; */
}

#uperGardenContainer {
    display: flex;
    gap: 20px;
    align-items: end;
}

@media screen and (max-width:1345px) {
    #uperGardenContainer {
        flex-direction: column;
    }
}

/* Style pour le formulaire de recherche */
#searchContainer {
    display: flex;
    background-color: white;
    height: 42px;
    width: unset;
    border-radius: 20px;
    align-items: center;
}

#searchBarrPlant {
    width: 400px;
    padding: 10px;
    border: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);

}

@media screen and (max-width:1100px) {
    #searchBarrPlant {
        width: auto;
    }
}

.searchButton {

    box-shadow: none;
    background-color: transparent;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;

}

.searchButton:hover {
    background-color: unset;
}

#selectContainer {
    gap: 10px;
    display: flex;
}

@media screen and (max-width:1345px) {
    #selectContainer {
        align-self: center;
    }
}

select {
    border-radius: 20px;
    color: #0EEBCA;
    background-color: #0000008e;
    height: 42px;
    cursor: pointer;
}

select option {
    background-color: rgb(255, 255, 255);
    color: #004A3F;

}

.searchButton .imgButton {
    width: 30px;
    height: 30px;


}

.articlePlantContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    max-height: 80vh;
    gap: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Masquer la barre de défilement Firefox */
    -ms-overflow-style: none;
    /* Masquer la barre de défilement IE/Edge */
}
@media screen and (max-width:1345px) {
    .articlePlantContainer {
       
        max-height: 78vh;
       
    }
}
@media screen and (max-width:1100px) {
    .articlePlantContainer {
       
        max-height: 70vh;
       
    }
}
@media screen and (max-width:426px) {
    .articlePlantContainer {
       
        max-height: 66vh;
       
    }
}
/* Style pour chaque article */
article {
    box-sizing: border-box;
    width: 275px;
    height: 450px;
    background: #0000009c;
    border: 1px solid #004a3f;
    backdrop-filter: blur(6px);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    user-select: none;
    font-weight: bolder;
    color: black;
    /* padding-top: 20px; */

}

article:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

article:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

/* article {

    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #0000009c;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
} */

article h3 {
    text-align: center;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px;
}

#underArticle {
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: 257.54px;
}

article p {
    margin: 5px 0;
    font-size: 16px;
    color: #ffffff;
}

.data {
    font-weight: 200;
}

#imgPlant {
    text-align: center;
    margin-top: 10px;
}

#plant {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.checkButtoncontainer {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 7px;
    align-self: center;
}

.getButton {
    background-color: #000000b4;
    color: #0EEBCA;
    box-shadow: -3px -3px 8px #0EEBCA;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 0.78em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 75px;
    font-weight: 400;
}

.getButton:hover {
    background-color: #004A3F;
}


/* Style pour la section aside */
.aside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 12%;
    background-color: #000000ac;
    gap: 20px;
    text-align: center;

}

@media screen and (max-width:1345px) {
    .aside {
        align-self: baseline;
    }
}

@media screen and (max-width:1100px) {
    #hidden {
        display: none;
    }
}

#sideBarTitle {
    font-size: 2em;
    letter-spacing: 0.2em;
    text-align: center;
    padding-top: 30px;

}

@media screen and (max-width:1345px) {
    #sideBarTitle {
        font-size: 1.8em;


    }
}

#welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004a3fb7;
    color: #0EEBCA;
    font-size: 1em;
    letter-spacing: 0.1em;
    height: 45px;
    width: 100%;
    margin: 10px 0;
}

@media screen and (max-width:1345px) {
    #welcome {
        font-size: 0.8em;

    }
}

@media screen and (max-width:1100px) {
    #welcome {
        font-size: 0.9em;
        background-color: unset;
        margin: 0;
        height: unset;

    }
}
@media screen and (max-width:780px) {
    #welcome {
        font-size: 0.7em;
       

    }
}

.sideUnderTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004a3fb7;
    color: #0EEBCA;
    font-size: 1em;
    letter-spacing: 0.1em;
    height: 30px;
    width: 100%;
    margin: 10px 0;

}
@media screen and (max-width:1100px) {
    .sideUnderTitle {
       
        background-color: unset;
        height: unset;
        margin: 0;
    
    }
}

.aside p {
    font-size: 1em;
    color: #0EEBCA;
    margin: 10px 0;
}

.sideButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width:1345px) {
    .sideButtonContainer {
        font-size: 0.8em;
    }
}

.aside a {
    text-decoration: none;
    text-align: center;
    width: 70%;
    height: fit-content;
    padding: 2px;
    background-color: #000000b4;
    box-shadow: -3px -3px 8px #0EEBCA;
    color: #0EEBCA;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#homeButton {
    align-self: center;
    
}
@media screen and (max-width:1100px) {
    #homeButton {
       
        padding-top: inherit;
    }
}


.aside a:hover {
    color: #666;
}

#changePageContainer {
    display: flex;
    gap: 20px;
    padding: 5px;
    align-self: center;
}

.changePageButton {
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.changePageButton:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.arrow {
    width: 40px;
    height: 70px;
}

/* Style pour la section bottom */

#bottomContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 15%;
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.66);
    width: 100%;

}

#rightBottomDiv {
    width: 11%;
}

#centerBottomDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width:1100px) {
    #rightBottomDiv {
        width: auto;
    }
}

/* Style pour la section burger*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #00000052;
    color: #0EEBCA;
    display: none;
    min-height: 70px;
}
#title{
    font-size: 1.8em;
    letter-spacing: 0.2em;
    font-weight: 300;
    padding-left: 5px;
}
@media screen and (max-width:426px) {
    #title{
        font-size: 1.3em;
        
    }
}
#welcomeContainer{
    display: flex;
    flex-direction: column;
}
#burgerImg {
    width: 50px;

}

.hidden {
    display: none;
}

#hidd {
    display: none;

}
#burger{
    display: flex;
    padding-right: 5px;
    gap: 10px;
}
.newMenu {
    position: absolute;
    right: -200px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    transform: translate(-200px);
    width: 100px;
    height: 50px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    z-index: 1;
    
}
.newMenu a{
    color: #0EEBCA;
    text-decoration: none;
}
.newMenu a:hover{
    color: #666;
}
.backgroundDim{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width:1100px) {
    #header {
        display: flex;

    }
}