/* FORMULAIRE CREATION ROOM */
.addRoomContainer {
    max-width: 600px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background: #0000007d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addRoomContainer h2 {

    text-align: center;
    color: #0EEBCA;
    font-weight: 300;
    letter-spacing: 0.1em;
}

#firstBlockform {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#secondBlockform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

#addRoomForm {
    margin: 20px;
}

#addRoomForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#addRoomFormcontent {
    display: flex;
    gap: 50px;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.642);

}

fieldset label {
    width: calc(100% - 20px);
    background-color: white;
}

legend {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}

#name {
    height: 30px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"]:checked+label {
    background-color: #004A3F;
    color: #0EEBCA;
    border-color: #0EEBCA;
}

/* POPUP FORMULAIRE MODIFICATION DE LA PIECE */
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.719);
    z-index: 1;
    display: none;
}

#popup-overlay.open {
    display: block !important;
}


#popup-exit {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    color: #0EEBCA;
}


.living {
    background-image: url("/images/saloon-managed.png");
}

.room {
    background-image: url("/images/room_two 1.png")
}

.kitchen {
    background-image: url("/images/kitchen_three 1.png");
}

.bathroom {
    background-image: url("/images/bathroom.png");
}

.parking {
    background-image: url("/images/garage_three 1.png");
}

.outSide {
    background-image: url("/images/saloon-managed.png");
}

.roomContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Style pour chaque colonne dans dashboardContainer */
.underRoomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000ac;
    width: 60%;
    max-height: 708.67px;
    min-height: 708.67px;
    padding: 20px;
    border-radius: 3px;
    gap: 20px;

}

.underRoomContainer h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #0EEBCA;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.articleRoomContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 80vh;
    gap: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Masquer la barre de défilement Firefox */
    -ms-overflow-style: none;
    /* Masquer la barre de défilement IE/Edge */
}

/* Style pour chaque article */
article {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #0000009c;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 54px);
    min-width: calc(277.17px - 54px);
}

.data {
    font-weight: 200;
}

#date {
    color: white;
    font-weight: 600;
}

.articleTitle {
    display: flex;
    align-items: center;
    gap: 10px;
}

article h3 {
    text-align: center;

    color: #ffffff;
}

#imgPlant {
    text-align: center;
    margin-top: 10px;
}

#plant {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

/* Style pour la section aside */
.aside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 12%;
    background-color: #000000ac;
    gap: 20px;
}

#sideBarTitle {
    color: #0EEBCA;
    font-size: 2em;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 10px 0;
    padding-top: 30px;
}

#welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004a3fb7;
    color: #0EEBCA;
    font-size: 1em;
    letter-spacing: 0.1em;
    height: 30px;
    width: 100%;
    margin: 10px 0;

}

#allSideButton {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sideButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.aside a {
    text-decoration: none;
    text-align: center;
    width: 70%;
    height: fit-content;
    padding: 2px;
    background-color: #000000b4;
    box-shadow: -3px -3px 8px #0EEBCA;
    color: #0EEBCA;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#homeButton {
    align-self: center;
}

.aside a:hover {
    color: #666;
}

#selectPlant {
    border-radius: 20px;
    color: #0EEBCA;
    background-color: #000000;
    cursor: pointer;
    width: 125px;
}

#addToRoomCheck {
    box-shadow: none;
    background-color: #00000000;
    width: fit-content;
    padding: 0;
}

#addToRoomCheck img {
    width: 20px;
}

#upDateRoomButton {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    background-color: #000000;
    color: #0EEBCA;
    font-size: 1em;
    height: fit-content;
    padding: 3px;

}

#upDateRoomButton:hover {
    background-color: #004A3F;
    
}

#AddRoom {
    align-self: center;
}

#AddRoom:hover {
    color: #0EEBCA;
    background-color: #004A3F;
}

.roomContain {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 450px;
    justify-content: space-between;
}

.roomContain form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.linkContainer {
    display: flex;
    align-items: center;
}

#roomLink {
    display: flex;
    height: 29px;
    align-items: center;
    width: 100%;
    border-radius: unset;
    background-color: #004A3F;
    box-shadow: none;
}

#deleteLink {
    width: unset;
    height: unset;
    box-shadow: unset;
    border-radius: unset;
    background-color: #004A3F;
}

#deleteLinkImg {
    width: 25px;
}