<section class="homeContainer">
	<div class="homeContent">
		<p id="homeTitle">
			<span class="slogan" > " </span>Avec Mr Green thumb
			<br>
			même les empotés
			<br>
			deviennent des jardi-nés<span class="slogan"> " </span>
		</p>

		<div>
			<H2>Connexion</H2>

			<form action="/plants" method="post">
				<div id="inputLogin">
					{% if error %}
						<p class="error">{{error.mail}}</p>
					{% endif %}
					<input id="mail" type="text" name="mail" placeholder="Entrez votre Email">
					{% if error %}
						<p class="error">{{error.password}}</p>
					{% endif %}
					<input id="password" type="text" name="password" placeholder="Saisissez un mot de passe">
				</div>
				<button type="submit">Valider</button>

			</form>

			<a href="/subscribe">Inscription</a>
			<a href="/plants">Visiter notre jardin</a>
		</div>

	</div>
	
</section>
																																																																
