<section class="homeContainer">
	<div class="homeContent">
		<p>
			"Avec Mr Jardinage <br> même les empotés <br> deviennent des jardi-nés"
		</p>

		<div>
			<H2>Connexion</H2>
			<form action="./login" method="post">
				<input id="mail" type="text" name="mail" placeholder="Entrez votre Email">
				<input id="password" type="text" name="password" placeholder="Saisissez un mot de passe">
				<button type="submit">Valider</button>
			</form>
			<a href="/subscribe">Inscription</a>
		</div>

	</div>
</section>
<a href="/test">Recherche</a>
