<header>
	<div class="headerTitleContainer">
		<p class="headerTitle">Mr Jardinage
		</p>
		{% if action != "home" %}
			<a href="/home"><img src="/images/Bouton rond 1.png" alt=""></a>
		{% endif %}
	</div>
</header>
