{% if  not headerFooter %}
<header>
	<div class="headerTitleContainer">
		<p class="headerTitle">Mr Green <br>Thumb
		</p>
		{# <img src="/images/mr_green_thumb-removebg-preview.png" alt="logo_img"> #}
		{% if not homeButton %}
			<a href="/home"><img src="/images/Bouton rond 1.png" alt="home_button"></a>
		{% endif %}
	</div>
</header>
{% endif %}
